
<div class="weather-by-days">
    <div class="holder-days">
        <ul>
            <% var arr = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'TODAY'] %>
            <% _.forEach(cityData.daily.data, function(value, key){ %>
            <li>
                <div class="day"><% if(key==0){ %><%= arr[7] %><% }else{ %><%= arr[new Date(value.time * 1000).getDay()] %><% } %></div>
                <div class="icon icon-<%= value.icon %>"></div>
                <div class="range-temp">
                    <div class="temperature convert"><%= Math.round(value.temperatureMin) %></div>
                    <div class="range"></div>
                    <div class="temperature convert"><%= Math.round(value.temperatureMax) %></div>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
</div>