<aside class="aside-menu">
    <div class="controls">
        <div class="icon icon-menu"></div>
        <div class="icon icon-delete"></div>
        <div class="icon icon-add"></div>
        <form class="search-form" action="#" id="form">
            <input type="text" id="search" placeholder="Enter the city"/>
            <label>
                <span class="icon icon-check"></span>
                <input type="submit" id="submit-form"/>
            </label>
        </form>
    </div>
    <div class="added-cities">
        <ul class="city-list"></ul>
    </div>
</aside>