<li class="aside-city">
    <a href="#<%= ((cityData.city).split(' ').join('')).toLowerCase() %>">
        <div class="icon icon-<%= cityData.currently.icon %>"></div>
        <div class="temperature convert"><%= Math.round(cityData.currently.temperature) %></div>
        <div class="weather-description">
            <div class="city"><%= cityData.city %></div>
            <div class="city-weather">//<%= cityData.currently.summary %></div>
        </div>
    </a>
    <div class="check-box">
        <label class="checked-area">
            <input type="checkbox" name="check"/>

            <div class="icon icon-check"></div>
        </label>
    </div>
</li>