<div class="settings">
    <div class="settings-head">
        <div class="switch-temperature">
            <span class="celsius">C</span>
            <div class="vertical-line"></div>
            <span class="faring active-temperature">F</span>
        </div>
        <div class="icon icon-settings"></div>
    </div>
    <div class="range-holder">
        <div class="range-box days-box">
            <div class="range-title">SHOW WEATHER FOR</div>
            <div class="amount-item">days</div>
            <input type="hidden" value="3" class="single-slider range-days"/>
        </div>
    </div>
    <div class="range-holder update-box">
        <div class="range-box">
            <div class="range-title">UPDATE WEATHER EVERY</div>
            <div class="amount-item">min</div>
            <input type="hidden" value="15" class="single-slider range-time"/>
        </div>
    </div>
</div>